.places {
  width: calc(0.22*100vw + 704px);
  margin: 0 auto;
}

@media screen and (max-width: 994px) {
  .places {
    width: calc(0.893*100vw + 34.2857px);
  }
}

@media screen and (max-width: 320px) {
  .places {
    width: 100vw;
  }
}