.footer__link {
  margin-right: 18px;
  font-family: Inter, Georgia, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

@media screen and (max-width: 600px) {
  .footer__link {
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 24px;
  }
  
  .footer__link:last-child {
    margin-bottom: 0;
    font-size: 24px;
    line-height: 24px;
  }
}