.intro {
  margin-left: calc(0.39*100% - 352px);
  width: 690px;
  max-width: 1280px;
}

@media screen and (max-width: 768px) {
  .intro {
    width: calc(100% - 24px*2);
    margin-left: calc(0.018*100% + 10.3px);
  }
}

@media screen and (max-width: 965px) {
  .intro {
    margin-left: 24px;
  }
}