.cover {
  width: calc(0.25*100vw + 864px);
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 560px auto;
  grid-template-rows: 54.6% 98px auto;
  grid-auto-rows: 54.6% 98px auto;
}

@media screen and (max-width: 1152px) {
  .cover {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    grid-template-rows: 54.6% calc(0.075893*100vw + 39.7143px) auto;
  }
}

@media screen and (max-width: 400px) {
  .cover {
    grid-template-rows: 51.5% calc(0.075893*100vw + 39.7143px) auto;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    grid-template-columns: auto calc(0.607143*100vw + 93.7143px) auto;
  }
}

