.cover__overlay {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 560px 1fr;
  grid-template-rows: 54% 98px 1fr;
}

.cover__overlay::before {
  content: "";
  grid-column: 1/4;
  grid-row: 1/4;
  background-color: #2A2C2F;
  opacity: 0.3;
}

.cover__overlay:hover::before {
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.8;
}

@media screen and (max-width: 700px) {
  .cover__overlay {
    grid-template-columns: 1fr 270px 1fr;
    grid-template-rows: 54% 64px 1fr;
  }
}