.place {
  width: 100%;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 47.41% 49.14%;
  grid-template-rows: min-content 3fr;
  grid-auto-rows: min-content 3fr;
  gap: 48px 3.125%;
}

.place:last-child {
  margin-bottom: 92px;
}

@media screen and (max-width: 768px) {
  .place {
    column-gap: calc( 0.0625*100% - 20px);
    margin-bottom: 72px;
  }

  .place:last-child {
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 500px) {
  .place {
    grid-template-columns: 100%;
    grid-template-rows: min-content min-content 1fr min-content;
    grid-auto-rows: min-content min-content 1fr min-content;
    row-gap: 32px;
    margin-bottom: 50px;
  }
  
  .place:last-child {
    margin-bottom: 66px;
  }
}