.footer {
  width: calc(100% - 48px*2);
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .footer {
    width: calc(0.8125*100% + 96px);
  }
}

@media screen and (max-width: 600px) {
  .footer {
    width: 100%;
  }
}
